html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Inter';
  font-size: 15px;
  font-weight:400;
}

a{
  color: blue;
  text-decoration: none;
  border-bottom:thin solid;
}

.content{
  padding:20px;
}
.title{
  font-weight:600;
}
